<div class="window">
  <!-- .toolbar-header sits at the top of your app -->
  <header class="toolbar toolbar-header">
    <h1 class="title">Northwest Chat</h1>

  <div class="toolbar-actions">
    <span class="user-info">
      <span class="icon icon-user"></span>
      Logged In as {{userName}}
    </span>

    <button class="btn btn-large btn-default pull-right" (click)="logout()">
      <span class="icon icon-logout"></span>
      Logout
    </button>
  </div>
</header>

  <!-- Your app's content goes inside .window-content -->
  <div class="window-content">
    <div class="padded-more">
      <div class="window">
        <div class="window-content">
          <div class="pane-group">
            <div class="pane-sm sidebar">
              <ul class="list-group">
                <li class="list-group-header">
                  <app-new-room></app-new-room>
                </li>
                <app-room-list [focusedRoom]="focusedRoom" (roomClick)="focusRoom($event)"></app-room-list>
              </ul>
            </div>
            <div class="pane">
              <app-chatroom *ngIf="focusedRoom" [localRoom]="focusedRoom"></app-chatroom>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
