h1 {
  margin: 0px;
  height: 52px;
  font-size: 26px;
  padding-top: 7px;
  text-align: center;
}

.room {
  border-top: 1px solid #dddddd;
  height: calc(100vh - 135px);
}

.message-feed {
  height: calc(100vh - 190px);
  overflow-y: scroll;
}
