.center{
  margin: 0 auto;
}
.center-align{
  text-align: center;
}

.parent {
  position: relative;
}

.child {
  width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 38%;
  left: 51.75%;

  margin: -70px 0 0 -170px;
}

.form-group, .form-actions {
  margin-top: 1.5em;
}

input.form-control {
  border: 1px solid #5a5a5a;
}

.sign {
  width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 25%;
  left: 61%;

  margin: -70px 0 0 -170px;
}

.background {
  background-image: url("../../images/cute.jpg");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 20%;
  /*background-color: #0000FF;*/
}

.icon {
  margin-right: .3em;
}
